/* =========================
   References styling
   ========================= */

#refs .csl-entry {
  margin-bottom: 0.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
  line-height: 1.5;
}

.sidebar-title {
  display: none;
}
