/* =========================
   References styling
   ========================= */

#refs .csl-entry {
  margin-bottom: 0.8em;
  padding-left: 1.5em;
  text-indent: -1.5em;
  line-height: 1.5;
}

.sidebar-title {
  display: none;
}

table {
  font-size: 0.8rem;
  line-height: 1.2;
}

table th,
table td {
  padding: 0.1rem 0.1rem;
}

.small {
  font-size: 0.8em;
}